<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>

  <name replace-wildcards="yes">%h</name>

  <service>
      <type>_simple</type>
      <subtype>_complex</subtype>
      <domain-name>localdomain</domain-name>
      <host-name>localhost</host-name>
      <port>0</port>
      <txt-record>Simple Service</txt-record>
  </service>

</service-group>
